<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <security>
            <requestFiltering allowDoubleEscaping="false"></requestFiltering>
            </security>
            <handlers>
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\anaconda3\python.exe|c:\anaconda3\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            </handlers>
        <httpErrors errorMode="Custom" />
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="D:\VSCodeProjects\hengDaProject" />
            <add key="DJANGO_SETTINGS_MODULE" value="hengDaProject.settings" />
        </appSettings>
    <system.web>
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" />
    </system.web>
    </configuration>
