{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}新闻动态{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<!-- 主体内容 -->

<div class="container">
    <div class="model-details-news-title">
        {{ my_news.title }}
        <div class="model-foot">
            发布时间：{{ my_news.publish_date|date:"Y-m-d" }}&nbsp;
            &nbsp;浏览次数：{{ my_news.views }}
        </div>
    </div>
    <div class="model-details">
        {{ my_news.description|safe }}
    </div>
</div>

{% endblock content %}